/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
	padding: 0px;
	margin: 0px margin;
	
}

img.propic{
	width: 200px;
	height: 225px;
	position: absolute;
}

#Student_List {
	display: none;
}

button { 
	border: none;
	background-color: white;
	
}

img.profpic1 {
	width: 150px;
	height: 175px;
	float: left;

}

.leftie {
	width: 150px;
	height: 300px;
	float: left;
	margin-right: 5%;
}

.meow {
	position: absolute;
	left: 100px;
	top: 300px;
	color: black;
	
}

.profilepic {
	width: 750px;
    background-color: grey;
    margin: 10px auto;
    box-shadow: 6px 6px 12px #555;
    padding: 10px;
    color: white;
    font-size: 85%;
    overflow: hidden;
}

input[type="textbox"] {
	width: 475px;
	border-style: solid;
	border-color: grey;
    border-width: 2px;
	margin-right: 5px;
}

.container{
    width: 700px;
    background-color: grey;
    margin: 10px auto;
    box-shadow: 6px 6px 12px #555;
    padding: 10px;
    color: white;
    font-size: 85%;
    overflow: hidden;
}

.search { 
	text-align: center;
}

.input-group-addon{
	width:100px;
	height: 100px;
	line-height: 100%;
}

.heading { 
	background-color: #4b2e83;

}

.smallbox { 
	width: 80%;
	margin: auto auto;
}

p {
    margin: 5px;
    font-style: bold;
}
.hidden-submit{
    display: none;
}

.cart button{
    display: block;
}

.btn-primary{
    margin: 5px center;
}

button.template{
    display: none;
}

.btn-default{
    background-color: #424242;
    color: white;
    border-radius: 7px;
}

:focus {
        outline: white dotted 2px;
        background-color: #AB82FF;
}

.text-box{
    margin: 10px auto;
    padding: 5px;
}

.logo{
    background-color: black;
    opacity: .9;
}

.logo:hover{
    opacity: 1;
}
/* creates black content box with gray shadow*/

.head {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.panel {
    
}

dl{
    font-size: 90%;
    color: white;
    font-variant: small-caps;
    margin: 5px;
}

h1{
	font-size: 20px;
	text-align: center;
}

.profcontent{
	overflow: hidden;
}

h4{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

dt{
    font-variant: small-caps;
    margin: 5px;
}

.well{
    background-color: #424242;
    width: 64%;
    margin: 10px auto;
	float: left;
}

.fa-envelope {
	color: black;
}

.move {
	margin: 0px auto;
}

/*keeps all pictures floated to the left*/
.propic {
    float: left;
    margin: 10px;
}

ul{
    margin: 5px;
	padding: 5px;
}



li { 
	list-style-type: none;
	
}

.logo { 
	width: 100px;
	height: 50px;
}

/*navigation bar is dark purple, and turns light purple when hovered over*/
nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
}
nav li {
        display: inline-block;
		margin-right: 25px;
		
}
nav a {
        margin: auto;
        display: inline-block;
        padding: 10px;
        color: #FFF;
        font-weight: bold;
        font-size: 90%;
}
nav a:link, 
nav a:visited {
        text-decoration: none;
}
nav a:hover {
        background-color: #AB82FF;
        border-radius: 5px;
}

li a:visited {
    color: white;
}

.navbar {
	background: none;
	border: none;
	
}

.phocus {
	overflow: hidden;
	float: left;
	width: 250px;
	height: 250px;
}

li a:hover {
        color: #FFFFCC;
        text-decoration: none;
}

footer {
	text-align: center;
	width: 100%;

	font-size: 12px;
}