<!DOCTYPE html>
<html>
<head>
    <!-- tells the browser this file was saved in the UTF-8 character encoding -->
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- tells the browser to get style information from styles.css in our 'css' sub-directory -->
	<link rel="stylesheet" href="css/styles.css">
	<!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- title for the page -->
	<title>Four-O</title>
</head>

<body ng-app="FourO" ng-controller="IndexController">

<div class="box">
	<div class="heading">
		<div class = "heading">
			<div class="smallbox">
				<nav class="navbar navbar-inverse" role="navigation">
					<ul>
                        <li><a href="index.html" class="ugh">My Profile</a></li>
                        <li><a href="buddies.html" class="ugh">Buddies</a></li>
                        <li><a href="index.html" class=""><img class="logo" src="img/logo.png"></a></li>
                        <li><a href="/logout" class="ugh">Log Out</a></li>
                        <li><a href="#" class="ugh"></a></li>
                        <li><a href="#" class="ugh"></a></li>
					</ul>
				</nav>
			</div>	
		</div>
	</div>

	<form id="uploadForm"
		  enctype="multipart/form-data"
		  action="/upload"
		  method="post" ng-show="false">

		<input type="file" id="theFile" name="theFile"/>

		<input type="submit" id="fileSubmit" value="submit">
	</form>

	<div class="profilepic">

		<h1> {{me.info_first_name}} {{me.info_last_name}} </h1>

		<div class="profcontent">
			<div class="phocus">
				<img class="propic" ng-src="{{me.info_picture}}" alt="your face" height="400" width="400" ng-click="upload()"/>

			</div>
			<div class=" well">
				<ul>
					<li><b>Major:</b> {{me.info_major}}</li>
					<li><b>Current Classes:</b> {{courses}}
						<i class="fa fa-plus cwhite" ng-click="addButton()"></i>
					</li>
					<li ng-show="showAddClass" class="classfield">
						<input type="text" ng-model="dept" placeholder="Department"/>
						<input type="text" ng-model="num" placeholder="Number"/>
						<i class="fa fa-check cwhite" ng-click="addClass()"></i>
						<br/>
					</li>
					<li><b>Email Address:</b> <a href="mailto:{{me.User.user_email}}"> {{me.User.user_email}} </a></li>
					<li><b>About Me:</b> {{me.info_bio}}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<footer>
		&copy; 2015 CodeDay
		<br/> <br/>
		No Distance Will Stop You From Finding Your Study Buddy. <i class="fa fa-umbrella"></i>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>