body {
    background-color: rgb(75, 46, 131);

}

.modal-footer {
    border-top: 0;
}

.btn {
    background-color: rgb(75, 46, 131);
}

.btn:hover {
    background-color: rgb(55, 26, 111);
}

.logo {
    width: 230px;
    height: 200px;
    margin: -25px;

}

.modal-header {
    text-align: center;
}